<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="{{url("auction_index")}}">Auctions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url("my_auction_index")}}">My auctions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url("my_auction_add")}}"><strong>+ Add auctions</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url("fos_user_security_logout")}}">Logout</a>
    </li>
</ul>
